@import "./Variables";
@import "./Reset";
.human {
  width: 20px;
  height: 20px;
}
.alien {
  width: 20px;
  height: 20px;
}
.death {
  width: 20px;
  height: 20px;
}
.App-section-detail {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
} */
  background-color: $background-color-page;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CharacterDetail {
  background-color: $background-color-detail;
  /* grid-column: ; */
  height: 50vh;
  width: 100%;
  color: $color-texts;

  &__link {
    /* background-color: $background-color-page; */
    color: $color-texts;
    /* grid-column: span 2;
    justify-self: end; */
  }
  &__article {
    width: 45%;
    height: 20vh;
  }
  &__image {
    /* justify-self: center;
    align-self: center; */
  }

  &__detail {
    /* align-self: center; */
  }
}
