@import "./Variables";
@import "./Reset";

.CharacterCard {
  width: 300px;
  height: 400px;
  background-color: $background-color-detail;
  &__link {
    text-decoration: none;
    color: $color-texts;
  }
  &__img {
    width: 100%;
  }
  &__description {
    margin-left: 15px;
  }
}
